@page
@model ContactModel
@{
    ViewData["Title"] = "";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<address>
    My Movie Corporate<br />
    Innisfil St, Barrie, ON <br />
    647.874.5587
</address>

<address>
    <strong>Contact:</strong> <a href="mailto:Contact@mymovies.com">Contact@mymovie.com</a><br />
</address>
