@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<form action="Validate" method="post">
    <fieldset>
        <legend>Login Information</legend>
        <div>
            <label for="username">Username</label>
            <input type="text" id="username" name="username" maxlength="40" size="15">
        </div>
        </br>
        </br>
        <div>
            <label for="password">Password</label>
            <input type="password" id="password" name="password" maxlength="30" size="15">
        </div>
        </br>
        </br>
        <div>
            <input type="submit" name="login" value="Login">
        </div>
    </fieldset>
</form>
<a href="Registration" title="Sign Up">New to Coder's Network? Sign up!</a>
</br>
</br>
